In [58]:
import random
import pandas as pd

In [59]:
class customer:
    def __init__(self, NO):
        self.NO = NO
        self.arrival = 0.0
        self.service_time = 0.0
        self.server_name = server('None', 2)
        self.end = 0.0
    def __eq__(self, other):
        return self.NO == other.NO
    def waiting_time(self):
        return
class server:
    def __init__(self, name, status = 0):
        self.name = name
        self.status = status #0 means idle and 1 means busy
    def __eq__(self, other):
        return self.name == other.name
def st(): # calculates the service time of a customer
    return random.uniform(9, 12)

def at(Tnow): # calculates the arrival time of a customer
    return random.uniform(3, 6) + Tnow

In [60]:
FEL = []
Queue = []
customers = []
Tnow = 0
Q = 0
servers = []
st_range = (9,12) #range of service time (in min)
arr_range = (3,6) #range of arrival time (in min)
T = 9 * 60 #total time of simulation (in min)

In [61]:
Able = server('Able', 0)
Baker = server('Baker', 0)
servers.append(Able)
servers.append(Baker)

In [62]:
def free_server(servers):
    free_servers = []
    for server in servers:
        if server.status == 0:
            free_servers.append(server)
    if not free_servers:
        result = False
    else:   
        result = random.choice(free_servers)
    return result

In [63]:
def arrival(i):
    global FEL, Q, Tnow, customers, Queue
    c = customer(i)
    
    c.arrival = at(Tnow)
    arr_time = c.arrival
    customers.append(c)
    FEL.append([1, arr_time, c])
    FEL = sorted(FEL, key=lambda x: x[1])  # Sort based on arrival time
    chosen_server = free_server(servers)
    if not chosen_server:
        Q = Q + 1
        Queue.append(customers[i - 1])

    else:
        chosen_server.status = 1
        customers[i - 1].service_time = st()
        customers[i - 1].end = Tnow + customers[i - 1].service_time
        customers[i - 1].server_name = chosen_server
        
        FEL.append([2, customers[i - 1].end, customers[i - 1]])
        FEL = sorted(FEL, key=lambda x: x[1])  # Sort based on end time

In [64]:
def departure(server, customer):
    global Q, FEL, Tnow, Queue
    
    if Q > 0:
        Q = Q - 1
        Queue[0].service_time = st()
        Queue[0].end = Tnow + Queue[0].service_time
        Queue[0].server_name = server
        FEL.append([2, Queue[0].end, Queue[0]])
        FEL = sorted(FEL, key=lambda x: x[1])  # Sort based on end time
        Queue.pop(0)
    else:
        server.status = 0

In [65]:
def waiting_line(wait):
    if abs(wait) < 0.1:
        result = 'No'
    else:
        result = 'Yes'
    return result

In [66]:
#Simulation Controller

c1 = customer(0)
c1.arrival = 0

customers.append(c1)
FEL.append([1,0,c1])
FEL = sorted(FEL, key=lambda x: x[1])  # Sort based on end time
i = 1 #number of customers
while True:
    temp = FEL.pop(0)
    Tnow = temp[1]
    if T > Tnow:
        
        if temp[0] == 1:
            arrival(i)
            i = i + 1
        elif temp[0] == 2:
            #departure 
            departure(temp[2].server_name, temp[2])
    else:
        break

In [67]:

final_table = []
header = ['customer No', 'clock of arrival', 'time service begins', 'service time', 'time service end', 'Server', 'waiting time', 'stayed in line?']
customers = sorted(customers, key=lambda x: x.NO)
for customer in customers:
    final_table.append([customer.NO + 1, customer.arrival, customer.end - customer.service_time, customer.service_time, customer.end, customer.server_name.name, customer.end - customer.service_time - customer.arrival, waiting_line(customer.end - customer.service_time - customer.arrival)])

## Results

In [68]:
df = pd.DataFrame(final_table)
df.columns = header
df.head(25)

,customer No,clock of arrival,time service begins,service time,time service end,Server,waiting time,stayed in line?
0,1,0.000000,0.000000,10.500530,10.500530,Baker,0.000000e+00,No
1,2,5.297363,5.297363,10.451501,15.748865,Able,-8.881784e-16,No
2,3,9.664569,10.500530,10.761028,21.261558,Baker,8.359609e-01,Yes
3,4,15.082812,15.748865,11.930406,27.679271,Able,6.660523e-01,Yes
4,5,19.844672,21.261558,9.826341,31.087899,Baker,1.416886e+00,Yes
5,6,24.990552,27.679271,11.807414,39.486685,Able,2.688719e+00,Yes
6,7,30.267498,31.087899,11.854567,42.942466,Baker,8.204012e-01,Yes
7,8,35.139834,39.486685,11.719681,51.206366,Able,4.346851e+00,Yes
8,9,40.313897,42.942466,9.663384,52.605850,Baker,2.628569e+00,Yes
9,10,45.767721,51.206366,9.720678,60.927044,Able,5.438645e+00,Yes
10,11,50.060696,52.605850,10.753445,63.359296,Baker,2.545154e+00,Yes
11,12,55.532752,60.927044,9.837485,70.764529,Able,5.394292e+00,Yes
12,13,60.391023,63.359296,10.319280,73.678576,Baker,2.968273e+00,Yes
13,14,63.992878,70.764529,10.803266,81.567795,Able,6.771651e+00,Yes
14,15,69.837686,73.678576,9.437170,83.115746,Baker,3.840890e+00,Yes
15,16,74.550319,81.567795,10.985914,92.553709,Able,7.017476e+00,Yes
16,17,77.591312,83.115746,11.040487,94.156233,Baker,5.524435e+00,Yes
17,18,81.086961,92.553709,10.229104,102.782813,Able,1.146675e+01,Yes
18,19,85.304798,94.156233,11.376219,105.532452,Baker,8.851436e+00,Yes
19,20,88.998653,102.782813,11.222685,114.005498,Able,1.378416e+01,Yes
20,21,92.770779,105.532452,11.147278,116.679730,Baker,1.276167e+01,Yes
21,22,97.769667,114.005498,10.486965,124.492463,Able,1.623583e+01,Yes
22,23,101.973088,116.679730,11.579446,128.259175,Baker,1.470664e+01,Yes
23,24,107.254230,124.492463,11.170541,135.663004,Able,1.723823e+01,Yes
24,25,113.174553,128.259175,10.579229,138.838405,Baker,1.508462e+01,Yes

In [69]:
df.tail(25)

,customer No,clock of arrival,time service begins,service time,time service end,Server,waiting time,stayed in line?
97,98,437.244465,518.263328,9.587149,527.850477,Able,81.018863,Yes
98,99,442.805627,526.506560,11.267214,537.773774,Baker,83.700933,Yes
99,100,446.020492,527.850477,9.688675,537.539152,Able,81.829985,Yes
100,101,451.331518,537.539152,10.235760,547.774912,Able,86.207634,Yes
101,102,456.210573,537.773774,10.252817,548.026591,Baker,81.563201,Yes
102,103,459.280189,0.000000,0.000000,0.000000,None,-459.280189,Yes
103,104,462.930592,0.000000,0.000000,0.000000,None,-462.930592,Yes
104,105,466.251979,0.000000,0.000000,0.000000,None,-466.251979,Yes
105,106,470.664459,0.000000,0.000000,0.000000,None,-470.664459,Yes
106,107,474.040253,0.000000,0.000000,0.000000,None,-474.040253,Yes
107,108,477.934817,0.000000,0.000000,0.000000,None,-477.934817,Yes
108,109,481.303282,0.000000,0.000000,0.000000,None,-481.303282,Yes
109,110,485.360489,0.000000,0.000000,0.000000,None,-485.360489,Yes
110,111,488.865092,0.000000,0.000000,0.000000,None,-488.865092,Yes
111,112,493.221205,0.000000,0.000000,0.000000,None,-493.221205,Yes
112,113,497.746415,0.000000,0.000000,0.000000,None,-497.746415,Yes
113,114,502.525136,0.000000,0.000000,0.000000,None,-502.525136,Yes
114,115,507.434968,0.000000,0.000000,0.000000,None,-507.434968,Yes
115,116,512.276898,0.000000,0.000000,0.000000,None,-512.276898,Yes
116,117,517.119848,0.000000,0.000000,0.000000,None,-517.119848,Yes
117,118,522.086279,0.000000,0.000000,0.000000,None,-522.086279,Yes
118,119,526.651251,0.000000,0.000000,0.000000,None,-526.651251,Yes
119,120,530.992616,0.000000,0.000000,0.000000,None,-530.992616,Yes
120,121,536.698509,0.000000,0.000000,0.000000,None,-536.698509,Yes
121,122,540.154362,0.000000,0.000000,0.000000,None,-540.154362,Yes

In [70]:
#calculating average waiting time
total_waiting_time = 0
stayed_inline = 0
served_customers = 0
for customer in customers:
    if customer.server_name.name != 'None':
            served_customers += 1
            total_waiting_time += customer.end - customer.service_time - customer.arrival
    if waiting_line(customer.end - customer.service_time - customer.arrival) == 'Yes':
        stayed_inline += 1
        
average_waiting_time = total_waiting_time / served_customers
print(f'The average waiting time is: {average_waiting_time}\nTotal number of customers stayed in line is {stayed_inline} out of {len(customers)} customers.')

The average waiting time is: 39.62637227701825
Total number of customers stayed in line is 120 out of 122 customers.

In [71]:
Able_utilization = 0
Baker_utilization = 0
for customer in customers:
    if customer.server_name == Able:
        Able_utilization += customer.service_time
    else:
        Baker_utilization += customer.service_time
Total_time = customers[served_customers - 1].end
Baker_utilization = Baker_utilization / Total_time * 100
Able_utilization = Able_utilization / Total_time * 100
print(f'Bakers utilization percent is: {Baker_utilization}\nAbles utilization percent is: {Able_utilization}')
Tnow

Bakers utilization percent is: 100.0
Ables utilization percent is: 98.98745027034963

540.1543615855842